<?xml version="1.0"?>
<config>
    <modules>
        <Lengow_Dashboard>
            <version>2.1.2</version>
        </Lengow_Dashboard>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <lendashboard before="Mage_Adminhtml">Lengow_Dashboard_Adminhtml</lendashboard>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <lendashboard>
                <class>Lengow_Dashboard_Model</class>
                <resourceModel>dashboard_mysql4</resourceModel>
            </lendashboard>
            <dashboard_mysql4>
                <class>Lengow_Dashboard_Model_Mysql4</class>
                <entities>
                    <manageorders_log>
                        <table>lengow_log</table>
                    </manageorders_log>
                </entities>
            </dashboard_mysql4>
        </models>
        <resources>
            <lendashboard_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lendashboard_setup>
            <lendashboard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lendashboard_write>
            <lendashboard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lendashboard_read>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <dashboard_diagrams>Lengow_Dashboard_Block_Adminhtml_Dashboard_Diagrams</dashboard_diagrams>
                </rewrite>
            </adminhtml>
            <lendashboard>
                <class>Lengow_Dashboard_Block</class>
            </lendashboard>
        </blocks>
        <helpers>
            <lendashboard>
                <class>Lengow_Dashboard_Helper</class>
            </lendashboard>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Lengow_Dashboard>
                    <files>
                        <default>Lengow_Connector.csv</default>
                    </files>
                </Lengow_Dashboard>
            </modules>
        </translate>
    </adminhtml>
</config>
