<?xml version="1.0"?>
<config>
    <modules>
        <Lengow_Sync>
            <version>2.0.1.5</version>
        </Lengow_Sync>
    </modules>
    <admin>
        <routers>
            <sync>
                <use>admin</use>
                <args>
                    <module>Lengow_Sync</module>
                    <frontName>lengow</frontName>
                </args>
            </sync>
            <adminhtml>
                <args>
                    <modules>
                        <Lengow_Sync before="Mage_Adminhtml">Lengow_Sync_Adminhtml</Lengow_Sync>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <sync>
                <class>Lengow_Sync_Model</class>
                <resourceModel>sync_mysql4</resourceModel>
            </sync>     
            <sync_mysql4>
                <class>Lengow_Sync_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>lengow_log</table>
                    </log>
                </entities>
            </sync_mysql4>
        </models>
        <resources>
            <lengow_setup>
                <setup>
                    <module>Lengow_Sync</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lengow_setup>
            <sync_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sync_write>
            <sync_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sync_read>
        </resources>
        <blocks>
            <sync>
                <class>Lengow_Sync_Block</class>
            </sync>
        </blocks>
        <helpers>
            <sync>
                <class>Lengow_Sync_Helper</class>
            </sync>
        </helpers>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <lengow_shipment_save_after>
                        <class>Lengow_Sync_Model_Observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </lengow_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_payment_cancel>
                <observers>
                    <lengow_payment_cancel>
                        <class>Lengow_Sync_Model_Observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </lengow_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_save_commit_after>
                <observers>
                    <lengow_order_save_commit_after>
                        <class>Lengow_Sync_Model_Observer</class>
                        <method>salesOrderSaveCommitAfter</method>
                    </lengow_order_save_commit_after>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <fieldsets>
            <lengow_convert_billing_address>
                <billing_society>
                    <to_customer>company</to_customer>
                    <to_billing_address>company</to_billing_address>
                </billing_society>
                <billing_lastname>
                    <to_customer>lastname</to_customer>
                    <to_billing_address>lastname</to_billing_address>
                </billing_lastname>
                <billing_firstname>
                    <to_customer>firstname</to_customer>
                    <to_billing_address>firstname</to_billing_address>
                </billing_firstname>
                <billing_email>
                    <to_customer>email</to_customer>
                    <to_billing_address>email</to_billing_address>
                </billing_email>
                <billing_phone_home>
                    <to_billing_address>telephone</to_billing_address>
                </billing_phone_home>
                <billing_address>
                    <to_billing_address>street_full</to_billing_address>
                </billing_address>
                <billing_zipcode>
                    <to_billing_address>postcode</to_billing_address>
                </billing_zipcode>
                <billing_city>
                    <to_billing_address>city</to_billing_address>
                </billing_city>
                <billing_country_iso>
                    <to_billing_address>country_id</to_billing_address>
                </billing_country_iso>
            </lengow_convert_billing_address>
            <lengow_convert_shipping_address>
                <delivery_society>
                    <to_shipping_address>company</to_shipping_address>
                </delivery_society>
                <delivery_lastname>
                    <to_shipping_address>lastname</to_shipping_address>
                </delivery_lastname>
                <delivery_firstname>
                    <to_shipping_address>firstname</to_shipping_address>
                </delivery_firstname>
                <delivery_email>
                    <to_shipping_address>email</to_shipping_address>
                </delivery_email>
                <delivery_phone_home>
                    <to_shipping_address>telephone</to_shipping_address>
                </delivery_phone_home>
                <delivery_address>
                    <to_shipping_address>street_full</to_shipping_address>
                </delivery_address>
                <delivery_zipcode>
                    <to_shipping_address>postcode</to_shipping_address>
                </delivery_zipcode>
                <delivery_city>
                    <to_shipping_address>city</to_shipping_address>
                </delivery_city>
                <delivery_country_iso>
                    <to_shipping_address>country_id</to_shipping_address>
                </delivery_country_iso>
            </lengow_convert_shipping_address>
        </fieldsets>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Lengow_Sync>
                    <files>
                        <default>Lengow_Connector.csv</default>
                    </files>
                </Lengow_Sync>
            </modules>
        </translate>
        <menu>
            <lengow>
                <title>Lengow</title>
                <sort_order>20</sort_order>
                <children>
                    <sync translate="title" module="sync">
                        <title>Manage Orders</title>
                        <action>adminhtml/lengow_order</action>
                        <sort_order>200</sort_order>
                    </sync>
                    <log translate="title" module="sync">
                        <title>Logs</title>
                        <action>adminhtml/lengow_log</action>
                        <sort_order>400</sort_order>
                    </log>
                </children>
            </lengow>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sync translate="title" module="sync">
                                            <title>Manage orders</title>
                                        </sync>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <lengow translate="title" module="sync">
                            <title>Lengow</title>
                            <children>
                                <sync translate="title" module="sync">
                                    <title>Manage Orders</title>
                                </sync>
                                <log translate="title" module="sync">
                                    <title>Manage Logs</title>
                                </log>
                            </children>
                        </lengow>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <sync_orders_lengow>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>sync/observer::import</model>
                </run>
            </sync_orders_lengow>
        </jobs>
    </crontab>
    <default>
        <sync>
            <orders>
                <period>3</period>
                <customer_group>0</customer_group>
                <pending>0</pending>
                <processing_fee>1</processing_fee>
            </orders>
            <hidden>
                <last_synchro>0000-00-00</last_synchro>
            </hidden>
        </sync>
        <payment>
            <lengow>
                <active>1</active>
                <model>sync/payment_method_lengow</model>
                <order_status>pending</order_status>
                <title>Lengow Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </lengow>
            <lengow_purchaseorder>
                <active>1</active>
                <model>sync/payment_method_lengow</model>
                <order_status>new</order_status>
                <title>Lengow Payment (version 1.x)</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </lengow_purchaseorder>
        </payment>
        <carriers>
            <lengow translate="name title" module="sync">
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>sync/shipping_carrier_lengow</model>
                <name>Shipping from marketplace</name>
                <title>Lengow</title>
            </lengow>
        </carriers>
    </default>
</config>
