/* lengow admin css */
#table-feeds, #lengow-info {
	border:1px solid #ccc;
	padding: 0px;
	border-spacing: 0px;
	border-radius:3px;
	background-color:#fff;
	width: 100%;
	border-collapse: collapse;
}

#table-feeds thead span {
	background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
	background: -webkit-gradient(linear, center top ,center bottom, from(#F9F9F9), to(#ECECEC)) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC')"; /* IE8 */
	color: #000;
	text-shadow: 0 1px 0 #fff;
	line-height: 35px;
	display: block;
	height: 39px;
	border-left: none;
	border-right: none;
}

#table-feeds thead span.first { text-align: center; }

#table-feeds thead span.last { }

#table-feeds thead th { margin: 0; }

#table-feeds tbody td { height: 35px;margin: 0; }

#table-feeds tbody tr:nth-child(even) { background-color: #EFEFEF; }

#lengow-info h5 {
	background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
	background: -webkit-gradient(linear, center top ,center bottom, from(#F9F9F9), to(#ECECEC)) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC')"; /* IE8 */
	color: #000;
	margin: 0;
	line-height: 29px;
	padding-left: 15px;
	font-size: 12pt;
	font-weight: normal;
	display:block;
}



.process-icon-importlengow { background-image: url('../img/process-icon-export-csv.png'); }

.lengow-margin, .lengow-margin a, .lengow-margin p { font-size: 1em; }

.lengow-no { color: red; }
.lengow-yes { color: green; }

.lengow-select { min-width: 300px; }

.lengow-check {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
}

.lengow-updated {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.lengow-must-be-updated {
  	color: #ffffff;
	background-color: #d2322d;
	border-color: #ac2925;
}