<?xml version="1.0"?>
<config>
    <modules>
        <Lengow_Export>
            <version>2.1.2</version>
        </Lengow_Export>
    </modules>
    <admin>
        <routers>
            <lenexport>
                <use>admin</use>
                <args>
                    <module>Lengow_Export</module>
                    <frontName>lengow</frontName>
                </args>
            </lenexport>
            <adminhtml>
                <args>
                    <modules>
                        <lenexport before="Mage_Adminhtml">Lengow_Export_Adminhtml</lenexport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <lenexport>
                <class>Lengow_Export_Model</class>
                <resourceModel>lenexport_resource</resourceModel>
            </lenexport>
            <lenexport_resource>
                <class>Lengow_Export_Model_Resource</class>
            </lenexport_resource>
            <export_mysql4>
                <class>Lengow_Export_Model_Mysql4</class>
                <entities>
                    <manageorders_log>
                        <table>lengow_log</table>
                    </manageorders_log>
                </entities>
            </export_mysql4>
        </models>
        <resources>
            <lenexport_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lenexport_setup>
            <lenexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lenexport_write>
            <lenexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lenexport_read>
        </resources>
        <blocks>
            <lenexport>
                <class>Lengow_Export_Block</class>
            </lenexport>
        </blocks>
        <helpers>
            <lenexport>
                <class>Lengow_Export_Helper</class>
            </lenexport>
        </helpers>
        <events>
            <catalog_product_save_before>
                <observers>
                    <yourmodule>
                        <type>singleton</type>
                        <class>Lengow_Export_Model_Observer</class>
                        <method>autoExportProduct</method>
                    </yourmodule>
                </observers>
            </catalog_product_save_before>
            <admin_system_config_changed_section_lenexport>
                <observers>
                    <mymodule>
                        <type>singleton</type>
                        <class>Lengow_Export_Model_Observer</class>
                        <method>afterSaveConfiguration</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_lenexport>
        </events>
    </global>
    <frontend>
        <routers>
            <lengow>
                <use>standard</use>
                <args>
                    <module>Lengow_Export</module>
                    <frontName>lengow</frontName>
                </args>
            </lengow>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Lengow_Export>
                    <files>
                        <default>Lengow_Connector.csv</default>
                    </files>
                </Lengow_Export>
            </modules>
        </translate>
        <menu>
            <lengow>
                <title>Lengow</title>
                <sort_order>20</sort_order>
                <children>
                    <export translate="title" module="lenexport">
                        <title>Manage Products Export</title>
                        <action>adminhtml/lengow_export</action>
                        <sort_order>200</sort_order>
                    </export>
                </children>
            </lengow>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lenexport translate="title" module="lenexport">
                                            <title>Products</title>
                                        </lenexport>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <lengow translate="title" module="lenexport">
                            <title>Lengow</title>
                            <children>
                                <export translate="title" module="lenexport">
                                    <title>Manage Products Export</title>
                                </export>
                            </children>
                        </lengow>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <export_feed_lengow>
                <schedule>
                    <cron_expr>0 */4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>lenexport/observer::export</model>
                </run>
            </export_feed_lengow>
        </jobs>
    </crontab>
    <default>
        <lenexport>
            <global>
                <active_store>0</active_store>
                <export_only_selected>0</export_only_selected>
                <autoexport_newproduct>0</autoexport_newproduct>
                <export_soldout>0</export_soldout>
                <producttype>simple,configurable</producttype>
                <productstatus></productstatus>
            </global>
            <data>
                <format>csv</format>
                <count_images>5</count_images>
                <parentsimages>0</parentsimages>
                <levelcategory>5</levelcategory>
                <without_product_ordering>0</without_product_ordering>
                <formatdata>0</formatdata>
                <html_attribute>0</html_attribute>
                <shipping_price_based_on>FR</shipping_price_based_on>
                <default_shipping_price></default_shipping_price>
                <default_shipping_method>flatrate_flatrate</default_shipping_method>
                <default_shipping_delay>2</default_shipping_delay>               
            </data>
            <attributelist>
                <attributes>0</attributes>
            </attributelist>
            <performances>
                <valid_ip></valid_ip>
                <optimizeexport>0</optimizeexport>
                <usesavefile>0</usesavefile>
                <active_cron>0</active_cron>
            </performances>
        </lenexport>
    </default>
</config>
