<?xml version="1.0"?>
<config>
    <tabs>
        <lengow translate="label" module="export">
            <label>Lengow</label>
            <sort_order>210</sort_order>
        </lengow>
    </tabs>
    <sections>
        <export translate="label" module="export">
            <label>Export Configuration</label>
            <tab>lengow</tab>
            <frontend_type>text</frontend_type>
            <sort_order>90</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <global translate="label comment">
                    <label>Global</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                        <valid_ip>
                            <label>Ip authorised to export</label>
                            <comment><![CDATA[Authorized acces to catalog export by IP, separated by ;]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </valid_ip>
                        <export_only_selected>
                            <label>Export only selected product</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </export_only_selected>
                        <autoexport_newproduct>
                            <label><![CDATA[Auto export new product]]></label>
                            <comment><![CDATA[Auto export a new product on Lengow]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </autoexport_newproduct>  
                        <export_soldout>
                            <label>Export product out of stock</label>
                            <comment></comment>                         
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </export_soldout>
                        <producttype>
                            <label>Product type to export</label>
                            <comment></comment>                         
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>export/system_config_source_types</source_model>
                        </producttype>  
                        <productstatus>
                            <label>Status of product to export</label>
                            <comment></comment>                         
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>export/system_config_source_status</source_model>
                        </productstatus>
                        <!--<productchildren>
                            <label>Export child product</label>
                            <comment>Export child for configurable product</comment>                         
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </productchildren>-->
                    </fields>
                </global>
                <data translate="label comment">
                    <label>Data</label>
                    <comment></comment>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>2</sort_order>
                    <fields>
                        <levelcategory>
                            <label>Level max for category</label>
                            <comment></comment>                         
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>export/system_config_source_category_level</source_model>
                        </levelcategory>
                        <parentsimages>
                            <label>Merge images with parents products if exist</label>
                            <comment></comment>                         
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </parentsimages>
                        <formatdata>
                            <label>Convert data</label>
                            <comment><![CDATA[Replace spcecial chars with html chars]]></comment>                          
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </formatdata>
                        <keephtml>
                            <label>Keep html</label>
                            <comment><![CDATA[Keep html chars in descrption]]></comment>                          
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </keephtml>
                        <shipping_price_based_on>
                            <label>Country shipping</label>
                            <comment>Default country for shipping cost</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>            
                        </shipping_price_based_on>  
                        <default_shipping_delay>
                            <label>Delay of shipping</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_shipping_delay>
                        <default_shipping_price>
                            <label>Shipping cost</label>
                            <comment>Default shipping cost if matching find</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_shipping_price>
                        <default_shipping_method>
                            <label>Shipping method</label>
                            <comment>Default shipping method to calculate shipping cost</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_allmethods</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                        
                        </default_shipping_method>
                        <format>
                            <label>Format</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>export/system_config_source_format</source_model>
                        </format>
                        <without_product_ordering>
                            <label>Stock without products ordering</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </without_product_ordering>
                        <count_images>
                            <label>Images max</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>export/system_config_source_images</source_model>
                        </count_images>
                    </fields>
                </data>
                <performances translate="label comment">
                    <label>Performances</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>3</sort_order>
                    <fields>
                        <usesavefile>
                            <label>Save feed on file</label>
                            <comment><![CDATA[Save the feed on a file]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </usesavefile>
                        <active_cron>
                            <label><![CDATA[Active cron]]></label>
                            <comment><![CDATA[Active the scheduled task for export your feed every 4h]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </active_cron>
                    </fields>
                </performances>
                <!-- selection des attributs -->
                <attributelist translate="label">
                    <label>Products attributes</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>20</sort_order>
                    <fields>
                        <attributes translate="label">
                            <label>Select attributes to export</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>export/system_config_source_getattributes</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </attributes>
                    </fields>
                </attributelist>
            </groups>
        </export>
    </sections>
</config>