<?xml version="1.0"?>
<config>
    <modules>
        <Lengow_Feed>
            <version>2.0.1.5</version>
        </Lengow_Feed>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <feed before="Mage_Adminhtml">Lengow_Feed_Adminhtml</feed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <feed>
                <class>Lengow_Feed_Model</class>
                <resourceModel>feed_mysql4</resourceModel>
            </feed>       
            <feed_mysql4>
                <class>Lengow_Feed_Model_Mysql4</class>
                <entities>
                    <manageorders_log>
                        <table>lengow_log</table>
                    </manageorders_log>
                </entities>
            </feed_mysql4>
        </models>
        <resources>
            <feed_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </feed_setup>
            <feed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </feed_write>
            <feed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </feed_read>
        </resources>
        <blocks>
            <feed>
                <class>Lengow_Feed_Block</class>
            </feed>
        </blocks>
        <helpers>
            <feed>
                <class>Lengow_Feed_Helper</class>
            </feed>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Lengow_Feed>
                    <files>
                        <default>Lengow_Connector.csv</default>
                    </files>
                </Lengow_Feed>
            </modules>
        </translate>
        <menu>
            <lengow>
                <title>Lengow</title>
                <sort_order>20</sort_order>
                <children>
                    <feed translate="title" module="feed">
                        <title>Manage Feeds</title>
                        <action>adminhtml/lengow_feed</action>
                        <sort_order>300</sort_order>
                    </feed>
                </children>
            </lengow>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <feed translate="title" module="feed">
                                            <title>Products</title>
                                        </feed>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <lengow translate="title" module="feed">
                            <children>
                                <feed translate="title" module="feed">
                                    <title>Manage Feeds</title>
                                </feed>
                            </children>
                        </lengow>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
