<?xml version="1.0"?>
<config>
    <modules>
        <Lengow_Tracker>
            <version>2.0.1.5</version>
        </Lengow_Tracker>
    </modules>
    <global>
        <models>
            <tracker>
                <class>Lengow_Tracker_Model</class>
            </tracker>  
        </models>
        <blocks>
            <tracker>
                <class>Lengow_Tracker_Block</class>
            </tracker>
        </blocks>
        <helpers>
            <tracker>
                <class>Lengow_Tracker_Helper</class>
            </tracker>
        </helpers>
        <resources>
            <tracker_setup>
                <setup>
                    <module>Lengow_Tracker</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tracker_setup>
            <tracker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tracker_write>
            <tracker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tracker_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tracker before="Mage_Adminhtml">Lengow_Tracker_Adminhtml</tracker>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <tracker>
                    <file>lengow.xml</file>
                </tracker>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <lengow>
                    <file>lengow.xml</file>
                </lengow>
            </updates>
        </layout>
        <translate>
            <modules>
                <Lengow_Tracker>
                    <files>
                        <default>Lengow_Connector.csv</default>
                    </files>
                </Lengow_Tracker>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tracker translate="title" module="tracker">
                                            <title>Products</title>
                                        </tracker>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <tracker>
            <tag>
                <identifiant>sku</identifiant>
            </tag>
        </tracker>
    </default>
</config>
